{% load static i18n humanize%}
<div class="col-xl-6 col-sm-12 ml-2 mt-2" id="candidate-{{ candidate.pk }}">
    <div class="card rounded-3 border-primary border h-100" >
        <div class="card-body">
            <div class="row">
                <div class="col-8">
                    <p class="text-dark">{{ candidate.contact.fullname.title }}</p>
                </div>
                <div class="col-md-4 text-center">
                    {% if candidate.recruiter_status in "DW" %}
                            <div class="badge bg-warning text-light">{{ candidate.get_recruiter_status_display.title }}</div><br>
                        {% elif candidate.recruiter_status == "G" %}
                            <div class="badge bg-success text-light">{{ candidate.get_recruiter_status_display.title }}</div><br>
                        {% else %}
                            <div class="badge badge-outline-primary">{{ candidate.get_recruiter_status_display.title }}</div><br>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-8 text-start">
                    <p class="text-dark small">
                        Teléfono:<a class="text-dark small" href="https://wa.me/{{ candidate.contact.phone }}?text=Hola {{ candidate.contact.fullname }}" target="_blank"> {{ candidate.contact.phone }}</a><br>
                        ID: {{ candidate.document_id }} <br>
                        Date of Birth: {{ candidate.date_birth }}<br>
                        SER Score: {{ candidate.psicotest_score }}<br>
                        Tags: {% for tag in candidate.tags.all  %}
                            <span class="badge badge-outline-info">{{ tag }}</span>
                            {% endfor %}
                        <br>
                        {% if candidate.cv_file_doc %}
                            <a href="{{ candidate.cv_file_doc.file.url }}" class="link-primary" target="_blank"><i class="mdi mdi-file-document"></i> {{ candidate.cv_file_doc}} </a>
                        {% endif %}
                    </p>
                </div>
                <div class="col-4 text-center">
                    {%  if candidate.profile_picture %}
                        <img class="rounded-circle" src="{{ candidate.profile_picture.url }}" alt="{{ candidate.contact.fullname }}" width="100" height="auto" >
                    {% endif %}

                </div>
            </div>
            <div class="row my-1" id="candidate_evaluation_panel_placeholder-{{ candidate.pk }}">
                <div class="col-12">
                    <p class="text-dark"> {{ candidate.recruiter_summary }} </p>
                </div>
                {% if candidate.recruiter_status in "E, EV" and job_posting.status == "E" %}
                    <div hx-get="{% url 'recruiter:register_candidate_evaluation' job_posting.jp_id candidate.pk %}" hx-trigger="load">
                        <img src="{% static 'images/svg-loaders/puff.svg' %}" width="20" class="htmx-indicator">
                    </div>
                {% endif %}


            </div>
        </div>
        <div class="card-footer">
            {% include "recruiter/partials/candidate_transition_buttons.html" %}
        </div>
    </div>
</div>